@mixin size($width: 100%, $height: $width) {
	height: $height;
	width: $width;
}

@mixin flex-row($gap: 0) {
	display: flex;
	flex-direction: row;
	gap: $gap;
}

@mixin flex-centered($gap: 0) {
	align-items: center;
	display: flex;
	gap: $gap;
	justify-content: center;
}

@mixin flex-column($gap: 0) {
	display: flex;
	flex-direction: column;
	gap: $gap;
}

@mixin flex-vertical-align($gap: 0) {
	align-items: center;
	display: flex;
	gap: $gap;
}

@mixin flex-space-between($gap: 0) {
	display: flex;
	gap: $gap;
	justify-content: space-between;
}
